@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: var(--fontfamily);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundcolor);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}


/* header profiel foto */
header {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 10vh auto;
}

/* verbruik kaart */
.verbruik-container {
    background-color: #f4f5f1;
    height: 30vh;
    width: 80vw;
    margin: 10vh auto
}

.verbruik-header {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    color: #697544;
    padding-top: 3vh;
}

hr {
    border: 3pxsolid black;
    width: 90%;
    margin: 5vh auto;
}


.energie-counter {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.energie-counter i {
    color: rgb(221, 161, 94);
    font-size: 1.5em;

}

.counter {
    display: flex;
}

.ruimte {
    padding-left: 1vw;
}

.dag {
    color: #8B8C89;
    font-weight: bold;
}

.energie {
    color: #606C38;
    font-weight: 800;
    font-size: 1.5em;
}

/* sectie van plekken waar apparaten zijn */
.apparaten {
    display: flex;
    justify-content: space-around;
    margin: 0 10vh;
    min-height: 40vh;
    flex-wrap: wrap;
    gap: 1rem;

}

.catogery {
    background-color: #dad8c9;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border-radius: 2%;
}

.catogery i {
    font-size: 3rem;
    color: #90986e;
}

.catogery:hover {
    background-color: #90986e;

}

.card {
    background-color: #efd2ac;
    color: black;
    border-radius: 5%;
    display: flex;
}

/* grid van de appraten */
.container {
    display: grid;
    margin: 10vh auto;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
}

/* telefoon responsive */
@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .apparaten {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .catogery {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}