@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.img {
    width: 100vw;
    height: 60vh;
}
.thuisslimmerleven{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}
.tekst1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: black;
    padding: 20px;
}

.tekst1 h1,h2 {
    font-weight: 700;
}
.smarthome {
    color:#DDA15E;
    text-decoration: none;
}

.tekst1 p {
color:#8B8C89;
font-weight: 400;
}

.thuisslimmerleven button {
    border-radius: 30px;
    width: 60vw;
    height: 7vh;
    background-color: #606C38;
    border: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    width: 11px;
    height: 10px;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.bar.active {
    background: #283618;
    width: 28px;
    height: 10px;
}
.container {
    padding: 5%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.header3{
    height: 22vh;
}
.bkleur {
    background-color:#FEFAE0 ;
}
 
.img3 {
background-image: url('../images/f3.png');
height: 40vh;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
}

.tekst3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: black;
    font-family: Poppins;
    padding: 20px;
    height: 35vh;
}

.tekst3 h1 {
    font-size: 2.3vh;
    font-weight: 800;
    color:#606C38;
  
}

.tekst3 h2 {
    font-size: 1.8vh;
    font-weight: 600;
    color:#8B8C89 ;
    
}
.thuisslimmerleven2{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:72vh;
}


.thuisslimmerleven2 button {
    border-radius: 30px;
    width: 60vw;
    height: 7vh;
    background-color: #606C38;
    border: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image2 {
    background-image: url('../images/f2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    margin: 0;
}

.uitleg {
    text-align: center;
}

.uitleg h1 {
    font-size: 4vh;
    font-weight: bolder;
}

.uitleg p {
    font-size: 2.2vh;
}

.input {
    width: 77vw;
    height: 6vh;
    border-radius: 30px;
   
    border: 1px solid #8B8C89;
}